@model SticksApp.Models.FlashCard

@{
    ViewBag.Title = "Train Yourself!";
}

<h2>Train Yourself!</h2>

<div class="maincontainer">

    <div id="thecard" class="thecard">


        <div id="thefront" class="thefront"><h1>@Model.Question</h1></div>

        <div class="theback">
            <h1>@Model.Answer</h1>
        </div>

    </div>
    <div id="yesnobuttons">
        <button id="yesButton" type="button" onclick="GetAnotherFlashCardAndUpdateCurrent(@Model.Id, '@Model.Language',level=9)">I got it!</button>
        <button id="noButton" type="button" onclick="GetAnotherFlashCardAndUpdateCurrent(@Model.Id, '@Model.Language',level=1)">Whaat?</button>

    </div>
    <button id="addButton" type="button" onclick="location.href='@Url.Action("Index", "Home")'" /> Ok, enough for totay...</button>
</div>

<script>
    function GetAnotherFlashCardAndUpdateCurrent(currentId, language, level) {
        $.ajax({
            type: "GET",
            url: '/FlashCards/LoadGrid',
            data: {
                currentId: currentId,
                language: language,
                level: level
            },
            success: function (resault) {
                
                $("#thecard").html(resault);
            },
            error: function (status) {
                alert(status);
            }
        })
    };
</script>
